/*** Global Styles ***/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
body {
  padding: 0;
  margin: 0;
  font-family: "MyriadPro", "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: #787878;
  line-height: 1.5;
  word-wrap: break-word;
  background: url(../img/page_bg.png);
}
section,
header,
footer,
.bg-line {
  max-width: 1260px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.headline {
  margin: 0;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 30px;
  color: #191919;
  font-weight: 500;
  line-height: 1;
}
.btn {
  font-family: "Montserrat", Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
.btn:hover {
  cursor: pointer;
}
.btn--theme-send {
  width: 190px;
  height: 40px;
  font-weight: 500;
  font-size: 13px;
  background-color: #cd3375;
  border: none;
  border-radius: 25px;
}
.input {
  height: 48px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 0;
  color: #787878;
  line-height: 48px;
  font-size: 15px;
  outline: none;
  border: none;
}
.input--size-sm {
  width: 320px;
}
.input--size-all {
  width: 100%;
}
.link-page {
  display: block;
  margin-top: 25px;
}
.link-page a {
  color: #fff;
}
/* Block - page-header */
.page-header {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  background-image: url(../img/header_bg.png);
  background-size: cover;
  z-index: 20;
}
.page-header__inner {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/* Block - page-nav */
.page-nav__list {
  padding: 0;
  font-size: 12px;
  list-style: none;
}
.page-nav__list li {
  display: inline-block;
  padding: 0 36px;
  border-right: 1px solid #717171;
}
.page-nav__list li.current {
  display: none;
}
.page-nav__list li:last-child {
  border-right: none;
}
.page-nav__list li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
.page-nav__list li a:hover {
  color: #2d6aed;
}
/* Block - main-nav */
.page-navbar {
  font-family: "Montserrat", Arial, sans-serif;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-navbar__lang {
  margin-right: 26px;
}
/* Block - logo */
.logo img {
  display: block;
}
/* Block - lang */
.lang {
  display: inline-block;
  height: 18px;
  padding-left: 1px;
  color: #fff;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  background-color: #6f6f6f;
  border-color: #919191;
}
.lang:hover {
  cursor: pointer;
}
/* Block - page-main */
.page-main {
  padding-top: 60px;
}
/* Block - phone */
.phone {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  color: #fff;
  font-family: "MyriadPro", "Open Sans", Arial, sans-serif;
}
/* Block - page-footer */
.page-footer {
  color: #fff;
  background-color: #222121;
}
.page-footer__inner {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.page-footer__headline {
  font-size: 13px;
}
.page-footer__bottom-content {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* Block - social */
.social__list {
  padding: 0;
  margin-top: 10px;
  max-width: 250px;
  list-style: none;
}
.social__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
.social__icon-hover {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.social__link:hover .social__icon {
  opacity: 0;
}
.social__link:hover .social__icon-hover {
  opacity: 1;
}
/* Block - politic */
.politic {
  max-width: 450px;
  font-size: 12px;
}
.politic__link {
  font-size: 12px;
  color: #fff;
}
/* Block - address */
.address {
  max-width: 260px;
  text-align: right;
}
.address__faq {
  position: relative;
  margin-top: -20px;
  margin-bottom: 20px;
  display: block;
  font-size: 33px;
  font-weight: 500;
  font-family: "Montserrat", Arial, sans-serif;
  color: #fff;
  text-decoration: none;
}
.address__faq:after {
  position: absolute;
  bottom: 5px;
  right: 0;
  display: block;
  content: "";
  height: 1px;
  width: 96.5%;
  background-color: #fff;
}
.address__content {
  font-size: 13px;
}
.address__item {
  margin-bottom: 5px;
  font-style: normal;
}
/* Block - content */
.content {
  padding: 75px 15px;
  text-align: center;
}
.content__text {
  margin: 20px auto;
}
.content__text--feedback {
  max-width: 220px;
  color: #191919;
}
/* Block - content */
.bg-line {
  height: 4px;
  background-image: url(../img/line_bg.jpg);
  background-size: cover;
}
/* Block - slider-arrow */
.slider-arrow {
  display: block;
  width: 24px;
  height: 24px;
  background-color: #3967b0;
  border-radius: 50%;
  border: 2px solid #fff;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 6px;
  outline: none;
  z-index: 10;
}
.slider-arrow:hover {
  cursor: pointer;
  background-color: #ea4e85;
}
.slider-arrow--prev {
  background-image: url(../img/arrow-icon_prev.png);
  background-position-x: 44%;
}
.slider-arrow--next {
  background-image: url(../img/arrow-icon_next.png);
  background-position-x: center;
}
/*** Конец Global Styles ***/
/** Страница - Главная **/
/* Block - main-slider */
.main-slider {
  color: #fff;
  background-color: #f4f4f4;
}
.main-slider__list {
  position: relative;
  max-width: 1200px;
  padding: 5px 15px;
  margin: 0 auto;
  list-style: none;
}
.main-slider .slick-dots {
  bottom: 20px;
}
.main-slider .slick-dots li button {
  width: 11px;
  height: 11px;
  background-color: #d0d0d0;
  border-radius: 50%;
}
.main-slider .slick-dots li button:hover,
.main-slider .slick-dots li.slick-active button {
  background-color: #636363;
}
.main-slider__item {
  position: relative;
  height: 425px;
  background-image: url(../img/banner.png);
  background-size: cover;
}
.main-slider__content {
  position: absolute;
  top: 47%;
  left: 23%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  max-width: 380px;
}
.main-slider__pict {
  position: absolute;
  bottom: 20px;
  left: 16px;
}
.main-slider__headline {
  margin: 0;
  font-weight: 600;
  font-size: 41px;
}
.main-slider__text {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 18.5px;
}
.main-slider__btn {
  padding: 12px 34px;
  font-size: 11px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #9d9a99;
}
.main-slider__btn:hover {
  color: #e94388;
  border-color: #e94388;
}
.main-slider__headline,
.main-slider__btn {
  font-family: "Montserrat", Arial, sans-serif;
}
.main-slider__arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.main-slider__arrow--prev {
  left: 0px;
}
.main-slider__arrow--next {
  right: 0px;
}
/* Block - about */
.about {
  background-color: #f4f4f4;
}
.about__content {
  max-width: 690px;
  margin: 0 auto;
}
.about__content .content__text {
  position: relative;
  max-height: 120px;
  overflow: hidden;
  -webkit-transition: all 600ms;
  -o-transition: all 600ms;
  transition: all 600ms;
}
.about__content .content__text--expanded {
  max-height: 2000px;
}
.about__content .content__text:hover {
  cursor: pointer;
}
.about__content .content__text:hover:after {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
      transform: scaleX(0);
}
.about__content .content__text:after {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  content: "";
  width: 65%;
  height: 24px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(80%, #f4f4f4), to(#f4f4f4));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #f4f4f4 80%, #f4f4f4);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), #f4f4f4 80%, #f4f4f4);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), #f4f4f4 80%, #f4f4f4);
  -webkit-transform-origin: right;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
/* Block - features */
.features {
  background-color: #d7d7d7;
}
.features__list {
  max-width: 1200px;
  padding: 96px 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Montserrat", Arial, sans-serif;
  color: #191919;
  list-style: none;
}
.features__text {
  display: inline-block;
  margin-left: 25px;
}
.features__num {
  font-weight: 700;
  font-size: 18px;
}
.features__name {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}
.features__num,
.features__name {
  margin: 0;
}
/* Block - projects */
.projects {
  text-align: center;
  background-color: #d7d7d7;
}
.projects__list {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}
.projects__item {
  position: relative;
  width: 25%;
  height: 255px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
.projects__item:hover .projects__overlay {
  opacity: 1;
}
.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
.projects__overlay:after {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 25px;
  display: block;
  content: "";
  background-image: url(../img/eye_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.projects__item--out-of-range-before:nth-child(4n) {
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
}
.projects__item--out-of-range-before:nth-child(4n - 1) {
  -webkit-transform: translate3d(0, -15px, 0);
          transform: translate3d(0, -15px, 0);
}
.projects__item--out-of-range-before:nth-child(4n - 2) {
  -webkit-transform: translate3d(0, -20px, 0);
          transform: translate3d(0, -20px, 0);
}
.projects__item--out-of-range-before:nth-child(4n - 3) {
  -webkit-transform: translate3d(0, -25px, 0);
          transform: translate3d(0, -25px, 0);
}
.projects__item--out-of-range-after:nth-child(4n) {
  -webkit-transform: translate3d(0, 15px, 0);
          transform: translate3d(0, 15px, 0);
}
.projects__item--out-of-range-after:nth-child(4n - 1) {
  -webkit-transform: translate3d(0, 20px, 0);
          transform: translate3d(0, 20px, 0);
}
.projects__item--out-of-range-after:nth-child(4n - 2) {
  -webkit-transform: translate3d(0, 25px, 0);
          transform: translate3d(0, 25px, 0);
}
.projects__item--out-of-range-after:nth-child(4n - 3) {
  -webkit-transform: translate3d(0, 30px, 0);
          transform: translate3d(0, 30px, 0);
}
.projects__work {
  display: block;
  height: 100%;
}
.projects__pict {
  width: 100%;
  min-height: 100%;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
.projects__work:hover .projects__pict {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.projects__more {
  margin-top: 30px;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
  border: none;
  background-color: transparent;
}
.projects__more:hover {
  cursor: pointer;
}
/* Block - for */
.for {
  padding-bottom: 35px;
  background-color: #d7d7d7;
}
.for__content {
  padding-bottom: 45px;
}
.for__cat {
  max-width: 985px;
  margin: 0 auto;
}
/* Block - location */
.location {
  background-color: #f4f4f4;
}
.location__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 90px;
}
.location__content {
  max-width: 380px;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 35px;
}
.location__map {
  height: 570px;
  background: url(../img/map_example.jpg);
  background-size: cover;
}
/* Block - feedback */
.feedback {
  background-color: #d7d7d7;
}
.feedback__inner {
  max-width: 675px;
  padding-right: auto;
  padding-left: auto;
  padding-bottom: 105px;
  margin: 0 auto;
}
.feedback__content {
  padding-top: 90px;
  padding-bottom: 20px;
}
/* Block - form */
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form__input {
  margin-bottom: 30px;
}
.form__textarea {
  margin-bottom: 33px;
}
.form__textarea {
  height: 170px;
  resize: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form__submit {
  margin: 0 auto;
}
/* Страница - Портфолио */
/* Block - tabs */
.tabs {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 1260px;
  background-color: #F6F4F4;
}
.tabs__inner {
  position: relative;
  padding-bottom: 150px;
  margin: 0 auto;
  padding-top: 20px;
  max-width: 1170px;
}
.tabs__content {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
  display: none;
  padding: 0;
  list-style: none;
}
.tabs__content--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tabs__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  min-height: 400px;
  padding: 4px;
  margin-bottom: 30px;
  background-color: #fff;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
.tabs__item:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 12.61px 0.39px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 12.61px 0.39px rgba(0, 0, 0, 0.2);
}
.tabs__item:hover .tabs__pict img {
  -webkit-transform: scale(1.1) translate(-50%, -50%);
      -ms-transform: scale(1.1) translate(-50%, -50%);
          transform: scale(1.1) translate(-50%, -50%);
}
.tabs__item:hover .tabs__text-overlay {
  opacity: 0;
}
.tabs__text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 95px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), color-stop(50%, rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(bottom, #ffffff 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(bottom, #ffffff 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0) 100%);
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.tabs__pict {
  position: relative;
  height: 260px;
  overflow: hidden;
}
.tabs__pict img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  min-height: 270px;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
.tabs__item-content {
  padding: 0 17px;
  padding-bottom: 20px;
}
.tabs__headline {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #121212;
}
/* Block - category */
.category__inner {
  padding: 10px 0;
}
.category__content {
  padding: 0;
  list-style: none;
}
.category__items {
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-left: 0;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  list-style: none;
}
.category__item {
  width: 230px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
.category__item--size-percent {
  width: 20%;
}
.category__item:hover {
  color: #e83a85;
  cursor: pointer;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}
.category__item:hover .category__link {
  color: #e83a85;
}
.category__item:hover .category__icon-hover {
  opacity: 1;
}
.category__item--active {
  color: #e83a85;
  cursor: pointer;
}
.category__item--active .category__icon-hover {
  opacity: 1;
}
.category__link {
  display: block;
  text-decoration: none;
  color: #787878;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
.category__icon {
  position: relative;
  max-width: 60px;
  height: 72px;
  margin: 0 auto;
}
.category__icon img {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
}
.category__icon-hover {
  opacity: 0;
  -webkit-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;
}
.js-slider.category .category__inner {
  overflow: hidden;
}
.js-slider.category .category__items {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.js-tabs.category {
  background-color: #fff;
}
/** Страница - публикации **/
/* Block - posts */
.posts {
  padding-top: 10px;
  background-color: #F6F4F4;
}
.posts__inner {
  padding-bottom: 50px;
}
.posts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1170px;
  margin: 20px auto;
  background-color: #fff;
}
.posts__item {
  position: relative;
  width: 33.333333333333333333%;
  padding: 23px 15px 23px 23px;
  border-right: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  border-left: 1px solid #cfcfcf;
}
.posts__item:nth-child(3n) {
  border-right: none;
}
.posts__item:nth-child(1n) {
  border-left: none;
}
.posts__item:nth-child(7),
.posts__item:nth-child(8),
.posts__item:nth-child(9) {
  border-bottom-color: transparent;
}
.posts__pre-headline {
  position: absolute;
  top: 13px;
  font-size: 13px;
  color: #808080;
}
.posts__headline {
  margin-bottom: 10px;
  min-height: 50px;
  padding-top: 10px;
  font-size: 16px;
  color: #000;
}
.posts__intro {
  display: block;
  max-height: 200px;
  font-size: 13px;
  text-decoration: none;
  color: #808080;
  line-height: 1.5;
  text-align: justify;
  overflow-y: hidden;
}
.posts__intro:hover,
a.page-numbers:hover {
  color: #555555;
  text-decoration: underline;
}
.navigation {
  display: block;
  margin-top: 30px;
}
.page-numbers {
  position: relative;
  width: 18px;
  display: inline-block;
  color: #787878;
  text-decoration: none;
}
.page-numbers.current:after,
.page-numbers.current:before {
  position: absolute;
  top: -0.8px;
}
.page-numbers.current:after {
  content: "]";
}
.page-numbers.current:before {
  left: -5px;
  content: "[";
}
.page-numbers.next {
  margin-left: -5px;
  width: 18px;
  height: 16px;
  background-image: url(../img/next-page_icon.jpg);
  background-size: cover;
}
.nav-links {
  width: 100px;
  margin: 0 auto;
}
/** Страница - Проект **/
.project {
  position: relative;
  background-color: #fff;
}
.project__inner {
  max-width: 1200px;
  padding: 10px 15px;
  margin: 0 auto;
}
.project__photo {
  height: 525px;
}
.project__arrow {
  position: absolute;
  top: 260px;
}
.project__arrow.slider-arrow--next {
  right: -16px;
}
.project__arrow.slider-arrow--prev {
  left: -16px;
}
.project__content {
  margin-top: 50px;
  text-align: center;
}
.project__content:nth-child(2),
.project__content:nth-child(3) {
  max-width: 700px;
  text-align: left;
}
.project__text {
  margin-top: 18px;
  font-size: 14px;
}
.project__headline {
  color: #191919;
  font-weight: 500;
  font-size: 18px;
  font-family: "Montserrat", Arial, sans-serif;
}
.project__poster {
  text-align: center;
}
.project__poster-text {
  max-width: 320px;
  margin: 0 auto;
  line-height: 1;
  color: #191919;
  font-weight: 600;
  font-size: 14px;
}
